
img{

  max-width:100%;
  hight:auto;
}

/* header */
 * {
  box-sizing: border-box;
}

body {
  margin: 0px;
  font-family: 'segoe ui';
  /* background-color: #FFFFF0; */
  background-color: #76EEC6;

  /* login form */
  
font-family: Arial, Helvetica, sans-serif;}

/* Full-width input fields */
input[type=text], input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

/* Set a style for all buttons */
/* button {
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
} */

/* Set a style for all buttons */
button {
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}

#button_login {
  background-color: #4CAF50;
  /* background-image: url("img/2686119a3f419dcc566fd7be49e1d959.png"); */
    /* height:auto;
  width:auto;  */
  color: white;
  padding: 14px 20px;
  /* margin: 8px 0; */
  /* margin: 0px 0; */
  border: none;
  cursor: pointer;
  /* width: 100%; */
}
button:hover {
  opacity: 0.8;
}

/* Extra styles for the cancel button */
.cancelbtn {
  width: auto;
  padding: 10px 18px;
  background-color: #f44336;
}

/* Center the image and position the close button */
.imgcontainer {
  text-align: center;
  margin: 24px 0 12px 0;
  position: relative;
}

img.avatar {
  width: 40%;
  border-radius: 50%;
}

.container {
  padding: 16px;
}

span.psw {
  float: right;
  padding-top: 16px;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  padding-top: 60px;
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button (x) */
.close {
  position: absolute;
  right: 25px;
  top: 0;
  color: #000;
  font-size: 35px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: red;
  cursor: pointer;
}
 
/* Add Zoom Animation */
.animate {
  -webkit-animation: animatezoom 0.6s;
  animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
  from {-webkit-transform: scale(0)} 
  to {-webkit-transform: scale(1)}
}
  
@keyframes animatezoom {
  from {transform: scale(0)} 
  to {transform: scale(1)}
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
  span.psw {
     display: block;
     float: none;
  }
  .cancelbtn {
     width: 100%;
  }
  /* login form */
}
 
.nav {
  height: 50px;
  width: 100%;
  background-color: #4d4d4d;
  position: relative;
  z-index: 999;
}

.nav > .nav-header {
  display: inline;
}

.nav > .nav-header > .nav-title {
  display: inline-block;
  font-size: 22px;
  color: #fff;
  padding: 10px 10px 10px 10px;
}

.nav > .nav-btn {
  display: none;
}

.nav > .nav-links {
  display: inline;
  float: right;
  font-size: 18px;
}

.nav > .nav-links > a {
  display: inline-block;
  padding: 13px 10px 13px 10px;
  text-decoration: none;
  color: #efefef;
}

.nav > .nav-links > a:hover {
  background-color: rgba(0, 0, 0, 0.3);
}

.nav > #nav-check {
  display: none;
}

@media (max-width:600px) {
  .nav > .nav-btn {
    display: inline-block;
    position: absolute;
    right: 0px;
    top: 0px;
  }
  .nav > .nav-btn > label {
    display: inline-block;
    width: 50px;
    height: 50px;
    padding: 13px;
  }
  .nav > .nav-btn > label:hover {
    background-color: rgba(0, 0, 0, 0.3);
  }
  .nav > .nav-btn > label > span {
    display: block;
    width: 25px;
    height: 10px;
    border-top: 2px solid #eee;
  }
  .nav > .nav-links {
    position: absolute;
    display: block;
    width: 100%;
    background-color: #333;
    height: 0px;
    transition: all 0.3s ease-in;
    overflow-y: hidden;
    top: 50px;
    left: 0px;
  }
  .nav > .nav-links > a {
    display: block;
    width: 100%;
  }
  .nav > #nav-check:not(:checked) + .nav-links {
    height: 0px;
  }
  .nav > #nav-check:checked + .nav-links {
    height: calc(100vh - 50px);
    overflow-y: auto;
  }
}
/* header */

/* Go to Top Botton */


#myBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  /* background-color: red; */
  /*  */
  background-image: url("img/Hang_Glider_Cape.jpg");
  height: 60px;
  width: 60px;
   background-position: center; 
   /* //Center the image */
  background-repeat: no-repeat;
  /* // Do not repeat the image */
  background-size: cover;
   /* //Resize the background image to cover the entire container */

  /*  */
  color: white;
  cursor: pointer;
  padding: 15px;
  border-radius: 4px;
}

#myBtn:hover {
  background-color: #555;
}


/* Go to Top Botton */



/* responstive content */
* {
  box-sizing: border-box;
}

.row::after {
  content: "";
  clear: both;
  display: table;
}

[class*="col-"] {
  float: left;
  padding: 15px;
}

html {
  font-family: "Lucida Sans", sans-serif;
}

.header {
  /* background-color: #9933cc; */
  background-color: #FFE4B5 ;
  /* background-color: #66CDAA ; */
  /* background-color: #00FF7F ; */
  /* color: #ffffff; */
  color: #FFA500;
  /* color: #458B74; */
  padding: 15px;
}

.menu ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.menu li {
  padding: 8px;
  margin-bottom: 7px;
  background-color: #33b5e5;
  /* background-color: #90EE90; */
  /* background-color: #54FF9F; */
  /* background-color: #76EEC6; */
  /* background-color: #4EEE94; */
  color: #ffffff;
  /* color: #2E8B57; */
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}


/* link */
 a{
  color: #ffffff;
  /* color: black; */
}


/* link */

.menu li:hover {
  background-color: #0099cc;
  /* background-color: #54FF9F; */
  /* background-color: #00FF7F; */
  /* color:#008B45; */
  /* color:#008B00; */
  /* color:#008B00; */

}

.aside {
  background-color: #33b5e5;
  padding: 15px;
  color: #ffffff;
  text-align: center;
  font-size: 14px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

/* .footer { */
 footer{
   border-radius: 50px 50px 0px 0px ;
 position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
 
  bottom: 0;
  background-color: #0099cc;
  /* background-color: #00CD66; */
  color: #ffffff;
  text-align: center;
  font-size: 12px;
  padding: 15px;
  /* z-index: 120; */
/* } */
}
/* For mobile phones: */
[class*="col-"] {
  width: 100%;
}

@media only screen and (min-width: 600px) {
  /* For tablets: */
  .col-s-1 {width: 8.33%;}
  .col-s-2 {width: 16.66%;}
  .col-s-3 {width: 25%;}
  .col-s-4 {width: 33.33%;}
  .col-s-5 {width: 41.66%;}
  .col-s-6 {width: 50%;}
  .col-s-7 {width: 58.33%;}
  .col-s-8 {width: 66.66%;}
  .col-s-9 {width: 75%;}
  .col-s-10 {width: 83.33%;}
  .col-s-11 {width: 91.66%;}
  .col-s-12 {width: 100%;}
}
@media only screen and (min-width: 768px) {
  /* For desktop: */
  .col-1 {width: 8.33%;}
  .col-2 {width: 16.66%;}
  .col-3 {width: 25%;}
  .col-4 {width: 33.33%;}
  .col-5 {width: 41.66%;}
  .col-6 {width: 50%;}
  .col-7 {width: 58.33%;}
  .col-8 {width: 66.66%;}
  .col-9 {width: 75%;}
  .col-10 {width: 83.33%;}
  .col-11 {width: 91.66%;}
  .col-12 {width: 100%;}
}

/* responstive content */


.border_radius-1em{

 border-radius: 1em ;

}

/* dropdown */




/* dropdown */





 /* Dropdown Button */
.dropbtn {
  background-color: #3498DB;
  /* background-color: #43CD80; */
  /* background-color: #00EE00; */
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  
}

/* Dropdown button on hover & focus */
.dropbtn:hover, .dropbtn:focus {
  background-color: #2980B9;
  /* background-color:#2E8B57; */
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  /* position: absolute; */
  background-color: #f1f1f1;
  min-width: 160px;
  /* box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2); */
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {display:block;}




   /* For mobile phones: */
#head_if_ms-team-vdo {
/* display:block; */
width: 0px;
  height: 0px;
  color: #76EEC6;
}
#if_ms-team-vdo {
  width: 95%;
  height: 100%;
}
#if_o-vdo {
  width: 95%;
  height: 100%;
}
#if_githubboard {
  width: 95%;
  height: 600px;
}
#if_telloboard {
  width: 95%;
  height: 600px;
}
/* #fb-post { */
  /* width: 95%; */
  /* height: 100%; */
/* } */

@media only screen and (min-width: 600px) {
  /* For tablets: */

 #head_if_ms-team-vdo {width: 106.8%; height: 100%;}
 #if_ms-team-vdo {width: 75%; height: 100%;}
 #if_o-vdo {width: 75%; height: 100%;}
 #if_ms-telloboard {width: 500px; height: 600px;}
 #if_ms-githubboard {width: 500px; height: 600px;}
 /* #fb-post {width: 75%; height: 100%;} */

}
@media only screen and (min-width: 768px) {
  /* For desktop: */
  #head_if_ms-team-vdo {width: 99.9%;height: 100%;}
  #if_ms-team-vdo {width: 48%;height: 100%;}
  #if_o-vdo {width: 48%;height: 100%;}
  #if_telloboard {width: 1080px; height: 800px;}
  #if_githubboard {width: 1080px; height: 800px;}
  /* .id01 {width: 50px;height: 100%;} */
  /* .form_login {width: 50px;height: 100%;} */
  /* .fb-post{width: 50%;height: 100%;} */

}